{% extends "admin/change_list.html" %}
{% load i18n admin_urls static admin_list %}

{% block object-tools-items %}
    <li>
        <a href="{% url 'portfolio-list' %}?{{ request.META.QUERY_STRING }}" target="_blank">
            Gerar portfolio
        </a>
    </li>
    {{ block.super }}
{% endblock %}
