{% extends "admin/change_form.html" %}

{% block content %}
{{ block.super }}

<div id="changeform-saldo">
  <h2>Cálculo de saldo</h2>
  <h3>Conta <span id='calculo-saldo-conta'></span> </h3>
  <table>
    <tr>
      <td>Saldo atual</td>
      <td class='saldo-valor'>
        R$ <span id='calculo-saldo-atual'></span>
      </td>
    </tr>
    <tr>
      <td>Saldo em <span id='calculo-data_movimento'></span></td>
      <td class='saldo-valor'>R$ <span id='calculo-saldo-data_movimento'></span></td>
    </tr>
    <tr>
      <td>Valor líquido</td>
      <td class='saldo-valor'>
        R$ <span id='calculo-valor_liquido'></span>
      </td>
    </tr>
    <tr>
      <td>Saldo calculado</td>
      <td class='saldo-valor'>
        R$ <span id='calculo-saldo-calculado'></span>
      </td>
    </tr>
  </table>
</div>
{% endblock %}
