{% extends "admin/change_list.html" %}
{% load i18n admin_urls static admin_list %}

{% block object-tools-items %}
    <li>
        <a href="javascript: gerar_livro_caixa()">
            Gerar livro caixa
        </a>
    </li>
    {{ block.super }}
{% endblock %}
