{% extends "admin/change_form.html" %}
{% load static %}

{% block admin_change_form_document_ready %}
{{ block.super }}

<!------------------------------->
<!-- PAINEL DE SALDO DE FÉRIAS -->
<!------------------------------->
<div class="tabular inline-related last-related ferias_saldo"
    style="display:none !important; width: max-content; margin-top:15px;">
    <fieldset class="module">
        <h2>Saldo de férias</h2>
        <table>
            <thead>
                <tr>
                    <th >Ano</th>
                    <th>Saldo anterior</th>
                    <th>Saldo atualizado</th>
                    <th>
                        Valor / hora
                        <img src="{% static 'admin/img/icon-unknown.svg' %}" class="help help-tooltip" width="10" height="10"
                        alt="(Valor/hora vigente no ano.
Caso sejam anos coincidentes, do saldo de férias e vigência do valor/hora,
será considerado valor do ano anterior, se atualizado depois do mês 06.)"
                        title="Valor/hora vigente no ano.
Caso sejam anos coincidentes, do saldo de férias e vigência do valor/hora,
será considerado valor do ano anterior, se atualizado depois do mês 06.">
                    </th>
                </tr>
            </thead>
            <tbody class="ferias_saldo">
            </tbody>
        </table>
    </fieldset>
    <p id="media_horas_ferias"></p>
</div>

<script>
    var RETIRADA_ID = '{{ object.id }}';

    // Parâmetros para Descanso
    var URL_UPDATE_HORAS_DESCANSO = '{% url "retirada-update_horas_descanso" %}';
    var URL_GET_HORAS_DESCANSO = '{% url "retirada-horas_descanso" %}';
    var ORCAMENTO_ATIVIDADE_DESCANSO = '{{ orcamento_atividade_descanso }}';
    var PROJETO_DESCANSO = '{{ projeto_descanso }}';
    var HORAS_DESCANSO_ORIGINAL = '{{ horas_descanso }}'
        .replace(',', '.');
    var DESCANSO_EDIT_MANUAL = null;

    // Parâmetros para Férias
    var URL_FERIAS_SALDO = '{% url "retirada-ferias_saldo" %}';
    // var RETIRADA_ANO = '{{ object.data_referencia|date:"Y" }}';

    // Parâmetros para Atestado
    var URL_UPDATE_HORAS_ATESTADO = '{% url "retirada-update_horas_atestado" %}';
    var URL_GET_HORAS_ATESTADO = '{% url "retirada-horas_atestado" %}';
    var ORCAMENTO_ATIVIDADE_ATESTADO = '{{ orcamento_atividade_atestado }}';
    var PROJETO_ATESTADO = '{{ projeto_atestado }}';
    var DIAS_ATESTADO = '{{ dias_atestado }}';
    // var RETIRADA_DATA = '{{ object.data|date:"Y-m-d" }}';
</script>

<script src="{% static 'js/admin/retirada/change_form_direitos_descanso.js' %}"></script>
<script src="{% static 'js/admin/retirada/change_form_direitos_ferias.js' %}"></script>
<script src="{% static 'js/admin/retirada/change_form_direitos_atestado.js' %}"></script>
{% endblock %}
