{% extends "admin/change_list.html" %}
{% load i18n admin_urls static admin_list %}

{% block filters %}
  <div id="changelist-sidebar">
    {% if list_resume %}
    <div id="changelist-resume">
      <h2>{% translate 'Resumo' %}</h2>
      {% for resume, value in list_resume.items %}
      <h3>{{ resume }}</h3>
      <ul>
        <li>{{ value }}</li>
      </ul>
      {% endfor %}
    </div>
    {% endif %}

    {{ block.super }}
  </div>
{% endblock %}

