{% extends "admin/change_form.html" %}
{% load i18n admin_urls static admin_modify %}

{% block object-tools %}
<ul class="object-tools">
<li>
  <!-- a href="#" class="savelink" onclick="document.getElementsByTagName('form')[0].submit();">Salvar</a -->
  <a href="#" class="savelink" onclick="$('form').first().submit();">Salvar</a>
</li>
{% if change %}{% if not is_popup %}
{% block object-tools-items %}
{% change_form_object_tools %}
{% endblock %}
{% endif %}{% endif %}
</ul>
{% endblock %}
