{% extends "base.html" %}
{% load static %}

{% block content %}
    {% for object in object_list %}
        <div style="display: grid; grid-template-columns: 600px 300px; column-gap: 20px;">
            <div>
                <h2>{{ object }}</h2>        
                <ul>
                    <li>Ano de início: {{ object.ano_de_inicio }}</li>
                    <li>Clientes: {{ object.beneficiarios_e_clientes }}</li>
                    <li>Tecnologias: {{ object.tecnologias.all|join:', ' }}</li>
                    <li>Produtos: {{ object.produtos.all|join:', ' }}</li>
                    <li>Temas: {{ object.temas.all|join:', ' }}</li>
                </ul>
                <p>{{ object.descricao|default_if_none:"Descrição não atribuída" }}</p>
                {% if object.link %}
                <p class="link">Acesse o site: <a href=" {{ object.link }}">{{ object.link }}</a></p>
                {% endif %}
                {% if object.repositorio %}
                <p class="respositorio">Repositório: <a href="{{ object.repositorio }}">{{ object.repositorio }}</a></p>
                {% endif %}
                <p>Contatos: {{ object.contatos.all|join:', ' }}</p>
            </div>
            <div style="text-align: center;"><img style="width: auto; max-height: 100px; max-width: 100%;" src="/media/{{ object.imagem }}"></div>            
        </div>
    {% empty %}
        <p>Nenhum registro encontrado!</p>
    {% endfor %}
{% endblock %}
