.object-tools {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 15px;
  z-index: 9999;
}

.savelink {
  background: #417690 !important;
}
.savelink:hover {
  background: #205067 !important;
}

#changelist.filtered {
	position: relative;
}

/* #changelist-sidebar { */
/*   position: absolute; */
/*   right: 0; */
/*   top: 0; */
/*   display:flex; */
/*   flex-direction:column; */
/* } */
/* #changelist-filter { */
/*   position: static; */
/* } */
#changelist-resume {
  position: static;
  z-index: 1000;
  width: 240px;
  background: #f8f8f8;
  border-left: none;
  margin-bottom: 20px;
  display: none;
}
#changelist-resume h2 {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  padding: 5px 15px;
  margin-bottom: 12px;
  border-bottom: none;
}
#changelist-resume h3 {
  font-weight: 400;
  font-size: 14px;
  padding: 0 15px;
  margin-bottom: 10px;
}
#changelist-resume li {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}
#changelist-resume ul {
  margin: 5px 0;
  padding: 0 15px 15px;
  border-bottom: 1px solid #eaeaea;
}
#changelist-resume ul:last-child {
  border-bottom: none;
}

.inline-group .tabular tr td.original {
  height: 23px;
}

#changeform-saldo {
	position: fixed;
	right: 380px;
	top: 160px;
	background-color: white;
	padding: 5px 30px 20px;
	border: 1px solid #E5E5E5;
	border-radius: 7px;
	box-shadow: 5px 5px 20px grey;
    display: none;
}
#changeform-saldo .saldo-valor {
  text-align: right !important;
}
